* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color:rgba(255,255,255,0);  /* 버튼 터치 시 음영삭제 */
    user-select: none;  /* 텍스트 선택 불가 */
    -webkit-touch-callout: none;  /* 링크 long 터치 막기 */
}





html, body {
    width: 100%;
    height: 100%;
}

#widget_view {
    width: 100%;
    height: 100%;
}

.ink_well {
    width:100%;
    height: 100%;
    position: relative;
}

.flat_button {
    background-color: white;
    border: none;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scaffold {
    width: 100%;
    height: 100%;
}


.column {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.row {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}