* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color:rgba(255,255,255,0);  /* 버튼 터치 시 음영삭제 */
    user-select: none;  /* 텍스트 선택 불가 */
    -webkit-touch-callout: none;  /* 링크 long 터치 막기 */
}


*:focus {
    outline:none;  /* 버튼 터치 시 아웃라인 제거 */
}

.next_page_animation {
    will-change: transform, opacity;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    animation-name: animate_next_page;
    animation-fill-mode: forwards;
}

@keyframes animate_next_page {
    0% {
        opacity: 0;
        transform: translateX(70%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        will-change: auto;
    }
}

.before_page_animation {
    will-change: transform, opacity;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    animation-name: animate_before_page;
    animation-fill-mode: forwards;
}

@keyframes animate_before_page {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(70%);
        will-change: auto;
    }
}


html, body {
    width: 100%;
    height: 100%;
}

#widget_view {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;
}

.ink_well {
    width:100%;
    height: 100%;
    position: relative;
}

.flat_button {
    background-color: white;
    border: none;
}

.flat_button:active {
    border: none;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scaffold {
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.scaffold_app_bar {
    background-color: lightblue;
    box-shadow: 1px 0px 5px #999;
}



.column {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    overflow: hidden;
}

.row {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    overflow: hidden;
}


.container {
    width: 100%;
    height: 100%;
}



.list_view {
    width: 100%;
    height: auto;
    overflow: auto;
}
